@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --dark: #392467;
  --light1: #5D3587; 
  --light2: #A367B1; 
  --light3: #FFD1E3; 
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
  padding-inline: 30px;
}
.primary-btn{
  border: 2px solid var(--light2);
  border-radius: 30px;
  padding-inline: 10px;
  background-color: #ffd1e300;
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: var(--light2);
  }
}
main{
  min-height: calc(100vh - 200px - 210px);
  background-color: var(--light1);
}

